<!DOCTYPE html>
<html>
    <head>
        <meta content="width = device-width, initial-scale = 1">
        <title>Login</title>
    </head>

    <body>
        <center>
            <form action = "/login" method="get">
                <h3>Login</h3>
                <br>
                <input type="text" name="uname" placeholder="Username"/>
                <br><br>
                <input type="password" name = "pword" placeholder="Password"/>
                <br><br>
                <input type="submit" value="Login"/>
            </form>
            <script>
            </script>
        </center>
    </body>
</html>